@model Account
@{ 
    ViewData["Title"] = "Delete User";
}

<h1 class="bg-primary text-white">Delete Account</h1>
<div asp-validation-summary="All" class="text-danger"></div>

<p class="text-primary font-weight-bold">Are you sure delete this User</p>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Registration date</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Person.Name</td>
        <td>@Model.Email</td>
        <td>@Model.DateOfMembership</td>
    </tr>
    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="btn btn-danger">Delete account</button>
    </form>
</table>

